
.footer{   
   
    margin: 3rem 0 0 0; 

    .footer__nav{   
    
        text-align: center;
        margin: 1rem 0;
        
        ul{ 
            list-style: none;

            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            
            li { 
                margin: 1rem;
                cursor: pointer;
    
                a{  
                    text-decoration: none;
                    color: $color_letra;
                    font-family: $letra_parrafos;   
                    font-size: 1.2rem;
                    font-weight: 600;
                    opacity: 0.7;
                }
            }
        }
    }

    .footer__socialMedia {
   
        top: 8rem;
    
        ul {    
    
            display: flex;
            flex-direction: row;
            
            list-style: none;   
            justify-content: center;
    
            li{
                margin: 1rem;
                
                a {
                    text-decoration: underline;
                    cursor: pointer;
            
                    &:hover {
                        background-color: $color_3;
            
                    }
                }
            }
    
        }
    }
}





.icon-button {

    font-size: 1.8rem;

    color: $color_letra;
    margin: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 50%;

    cursor: pointer;
    user-select: none;
    
}

.footer__copyright{ 

    h3{
        margin: 3rem 0 1rem 0;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;

    }
}


@each $id, $color in $redes_sociales {
    .#{$id} {
        background-color: #{$color};
    }
}


