
/*--------------------------------------------------------------
# HABILIDADES
--------------------------------------------------------------*/
.skill__tecnologias{ 
        
    h2{
        margin: 1.5rem 2rem;
    }
}

.software-skill {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    margin-top: 2rem;
    list-style: none;
    font-size: 2rem;


    .software-skill-inline, p { 

        margin-bottom: 2rem;

        text-align: center;

        i{
            color: $color_letra;
            font-size: 4rem;

        }
    }
    
}

.icon_svg{

        padding-top: 0.5rem;

}

@media screen and (max-width: 576px) { 

    .software-skill {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
    }

 }



  
