
// FONDOS 

$color_primario: url("./img/texture2.png");
$color_secundario: #95781dcc;

// FAMILY LETRAS

$letra_parrafos: 'Rubik', 'Arial', 'sans-serif';
$letra_titulos: 'Rubik', sans-serif;  
$myNombre: 'Bakbak One', cursive;

$color_3: #95781dcc;
$color_letra: #fff; 

// COLOR REDES SOCIALES

$redes_sociales: 
(facebook, #3b5998), 
(linkedin, #0e76a8), 
(github, #333), 
(google, #ea4335);